/* ==========================================================================
   Header Vertical style - begin
   ========================================================================== */
$vertical-menu-width: 336px;

@import 'blocks/header-vertical-navigation.scss';
@import 'blocks/header-vertical-widgets.scss';

.mkd-header-vertical {
	
	&.admin-bar {
		
		.mkd-vertical-menu-area {
			top: 32px;
			height: calc(100% - 32px);
		}
	}

    .mkd-content,
    footer {
        padding-left: $vertical-menu-width;
        box-sizing: border-box;
    }

    .mkd-vertical-menu-area {
        position: fixed;
	    top: 0;
	    left: 0;
	    width: $vertical-menu-width;
        height: 100%;
        padding: 86px 45px 10px;
        background-color: transparent;
        outline: none;
        z-index: 101;
        -webkit-backface-visibility: hidden;
        box-sizing: border-box;
	    
	    &.mkd-with-scroll {
		    overflow: hidden;
	    }
    }

    .mkd-vertical-menu-area-inner {
        @include mkdRelativeHolderLayout();
        height: 100%;

        &.mkd-vertical-align-left {
            text-align: left;
        }

        &.mkd-vertical-align-center {
            text-align: center;

            .mkd-logo-wrapper img {
                margin: 0 auto;
            }
        }
    }
	
	.mkd-logo-wrapper {
		@include mkdRelativeHolderLayout();
		z-index: 100;
		
		a {
			display: block;
			position: relative;
			height: 100%;
		}
		
		img {
			display: block;
			height: auto;
			max-height: 100%;
			@include mkdTransition(opacity 0.3s ease);
		}
	}

    .mkd-vertical-area-background {
        position: fixed;
        top: 0;
        left: 0;
        width: $vertical-menu-width;
        height: 100%;
        background-color: #fff;
        background-position: right top;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
        opacity: 1;
        @include mkdTransition(opacity 0.5s ease, background-color 0.5s ease);
    }
    
    &.mkd-header-vertical-shadow-disable .mkd-vertical-area-background {
        box-shadow: none;
    }
    
    &.mkd-header-vertical-border-disable .mkd-vertical-area-background {
        border: none;
    }
}

.mkd-light-header {
	
	.mkd-vertical-menu-area {
		
		.mkd-logo-wrapper {
			
			.mkd-light-logo {
				opacity: 1;
			}
			
			.mkd-normal-logo,
			.mkd-dark-logo {
				opacity: 0;
			}
		}
	}
}

.mkd-dark-header {
	
	.mkd-vertical-menu-area {
		
		.mkd-logo-wrapper {
			
			.mkd-dark-logo {
				opacity: 1;
			}
			
			.mkd-normal-logo,
			.mkd-light-logo {
				opacity: 0;
			}
		}
	}
}
/* ==========================================================================
   Header Vertical style - end
   ========================================================================== */