/* Single author box styles - begin
	====================================================================== */

.mkd-author-description {
    @include mkdRelativeHolderLayout();
    padding: 0;
    text-align: center;
    border-top: 1px solid $default-border-color;
    border-bottom: 1px solid $default-border-color;
    box-sizing: border-box;

    .mkd-author-description-inner {
        padding: 65px 0 60px;
        min-height: 78px; // static height of author image -- mkd-author-description-image
        clear: both;
    }

    .mkd-author-description-content {
        position: relative;
        padding: 0 30px 0 0;
        display: table;
    }

    .mkd-author-description-image {
        width: 192px;
        display: table-cell;
        vertical-align: top;

        img {
            display: block;
        }
    }

    .mkd-author-description-text-holder {
        position: relative;
        padding: 0px 0 4px 65px;
        display: table-cell;
        vertical-align: top;
        text-align: left;

        .mkd-author-name {
            margin: 0;
            text-transform: uppercase;

            a {
                color: $default-heading-color;

                &:hover {
                    color: $first-main-color;
                }
            }
        }

        .mkd-author-position-wrapper {
            padding:15px 0px 18px 2px;
            .mkd-autor-position {
                &:before {
                    content:'';
                    display:inline-block;
                    background-color: $first-main-color;
                    width:60px;
                    height:5px;
                    vertical-align: middle;
                    margin:0 30px 0 80px;
                }
            }
        }

        .mkd-author-email {
            margin: 0;
        }

        .mkd-author-text {
            @include mkdRelativeHolderLayout();

            > p {
                margin: 0px;
            }
        }

        .mkd-author-social-icons {
            @include mkdRelativeHolderLayout();

            a {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                padding: 0;
                margin: 0 15px 0 0;
                font-size: 11px;
                color: $default-heading-color;

                &:last-child {
                    margin: 0;
                }

                &:hover {
                    color: $first-main-color;
                }
            }
        }
    }

    @include ipad-portrait {
        .mkd-author-description-content {
            padding: 0;
        }
        .mkd-author-description-image {
            display: block;
            width: 100%;
        }
        .mkd-author-description-text-holder {
            display: block;
            padding: 0;
            margin-top: 30px;
        }
    }
}

/* Single author box styles - end
	====================================================================== */