/* ==========================================================================
   WooCommerce Buttons responsive styles - begin
   ========================================================================== */

@include ipad-landscape {

    .woocommerce-page .mkd-content,
    div.woocommerce {
    
        a.button,
        a.added_to_cart,
        input[type="submit"],
        button[type="submit"]:not(.mkd-woo-search-widget-button),
        .wc-forward:not(.added_to_cart):not(.checkout-button) {
            @include mkdButtonSmallParams();
        }
    }
}
/* ==========================================================================
   WooCommerce Buttons responsive styles - end
   ========================================================================== */