/* ==========================================================================
   WooCommerce Onsale and Out of Stock responsive styles - begin
   ========================================================================== */

@include ipad-landscape {

    .mkd-woo-single-page {
	
	    .mkd-single-product-content {
		
		    .mkd-out-of-stock {
			    right: 0;
		    }
	    }
    }
}

@include ipad-portrait {
	
	.mkd-woo-single-page {
		
		&.mkd-woo-single-thumb-on-left-side {
			
			.mkd-single-product-content {
				
				.mkd-onsale {
					left: 10px;
				}
			}
		}
	}
}
/* ==========================================================================
   WooCommerce Onsale and Out of Stock responsive styles - end
   ========================================================================== */