/* ==========================================================================
   Header Vertical responsive style - begin
   ========================================================================== */

@media only screen and (min-width: $ipad-landscape-plus-pixel) {
	
	.mkd-header-vertical .mkd-404-page .mkd-content {
		margin: 0 !important;
	}
}

@include ipad-landscape {
	
	.mkd-header-vertical {
		
		.mkd-vertical-menu-area {
			display: none;
		}
		
		.mkd-content,
		footer {
			padding-left: 0;
		}
	}
}

.mkd-header-vertical {
	
	.mkd-grid,
	.mkd-container-inner,
	.mkd-row-grid-section {
		
		@include laptop-landscape-large {
			width: $grid-width-laptop-landscape;
		}
		
		@include laptop-landscape {
			width: $grid-width-ipad-landscape;
		}
		
		@include ipad-landscape {
			width: $grid-width-ipad-landscape;
		}
		
		@include ipad-portrait {
			width: $grid-width-ipad-portrait;
		}
		
		@include phone-landscape {
			width: $grid-width-phone-landscape;
		}
		
		@include phone-portrait {
			width: $grid-width-phone-portrait;
		}
		
		@include smaller-phone-portrait {
			width: $grid-width-smaller-phone-portrait;
		}
	}
}
/* ==========================================================================
   Header Vertical responsive style - end
   ========================================================================== */