
version: '3.8'

services:
  db-plazaarq:
    image: mariadb:10.6
    container_name: plazaarq_db
    restart: always
    environment:
      MYSQL_DATABASE: db_plazaarq
      MYSQL_ROOT_PASSWORD: password_seguro
    volumes:
      # 1.Importamos la copia de seguridad al arrancar
      - ./rociopla_wp_k40qo_2026-01-10_13-00-47.sql:/docker-entrypoint-initdb.d/init.sql
      # 2. LA SEGURIDAD: Esto guarda los datos permanentemente en Coolify
      - plazaarq_db_data:/var/lib/mysql

  web-plazaarq:
    image: wordpress:5.8-php7.4-apache
    container_name: plazaarq_web
    restart: always
    ports:
      - "8081:80"      
    environment:      
      WORDPRESS_DB_HOST: db-plazaarq
      WORDPRESS_DB_NAME: db_plazaarq
      WORDPRESS_DB_USER: root
      WORDPRESS_DB_PASSWORD: password_seguro
      WORDPRESS_TABLE_PREFIX: o7VMD_
      # 3. Forzamos que la web responda a la IP de AWS (y no al dominio antiguo)
      # Cuando tengas dominio real, cambias esto por tu dominio
      WORDPRESS_CONFIG_EXTRA: |
        define('WP_HOME', 'http://54.87.69.188:8081');
        define('WP_SITEURL', 'http://54.87.69.188:8081');
    volumes:
      - ./httpdocs:/var/www/html
    depends_on:
      - db-plazaarq

# Definimos el volumen persistente de la base de datos
volumes:
  plazaarq_db_data:
