/* ==========================================================================
   Product List - Simple shortcode styles - begin
   ========================================================================== */

.mkd-pls-holder {
	@include mkdRelativeHolderLayout();

	> ul {
		@include mkdRelativeHolderLayout();
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			@include mkdRelativeHolderLayout();
			padding: 0;
			margin: 0 0 20px;

			&:last-child {
				margin: 0;
			}
		}
	}
	
	.mkd-pls-image {
		display: table-cell;
		vertical-align: top;
		width: 84px;

		a, img {
			display: block;
		}

		a {
			position: relative;
			@include mkdImageOverlayHoverStyle();
		}
	}
	
	.mkd-pls-text {
		display: table-cell;
		vertical-align: top;
		padding: 0 0 0 20px;
		
		.mkd-pls-title {
			margin: 0 0 4px;
		}
		
		.mkd-pls-rating-holder {
			@include mkdRelativeHolderLayout();
			line-height: 1;
			margin: 5px 0 3px;
		}
		
		.mkd-pls-rating {
			@include mkdWooCommerceRatingsStyle();
		}
		
		.mkd-pls-price {
			@include mkdWooCommercePriceStyle();
		}
	}
}
/* ==========================================================================
   Product List - Simple shortcode styles - end
   ========================================================================== */