/* ==========================================================================
   WooCommerce Pagination styles - begin
   ========================================================================== */
.mkd-woo-pagination-holder {
    @include mkdRelativeHolderLayout();
    margin: 0 0 46px;
    clear: both;

    .mkd-woo-pagination-inner {
        position: relative;
        display: table;
        width: 100%;
        text-align: right;
    }
}

.woocommerce-pagination {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 99%;
    margin: 0;
    padding: 0;

    .page-numbers {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;

        li {
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin: 0;

            &.prev{
                float: left;
            }

             &.next {
                float: right;
            }

            a,
            span {
                position: relative;
                display: inline-block;
	            width: auto;
                margin: 0 9px;
                padding: 0;
                vertical-align: top;
                text-decoration: none;
                cursor: pointer;
                white-space: nowrap;
                font-family: $first-heading-font;
                color: $default-heading-color;
                font-weight: 700;
                @include mkdTransition(color .2s ease-out);

                &:hover,
                &.current {
                    color: $first-main-color;
                }
            }

            a {

                &.next,
                &.prev {
                    font-size: 0;
                    line-height: 1;
                    margin: 0 6px 0 4px;

                    &:before {
                        position: relative;
                        top: -1px;
                        display: block;
                        font-family: 'ElegantIcons';
                        font-size: 25px;
                        line-height: inherit;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }
    
                &.prev {
        
                    &:before {
                        content: "\34";
                    }

                    &:parent {
                        float: left;
                    }
                }
    
                &.next {
        
                    &:before {
                        content: "\35";
                    }
                }
            }
        }
    }
}

.mkd-woo-view-all-pagination {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 1%;
    display: none;

    a {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        padding: 0 0 0 2px;
        color: $default-text-color;

        &:before {
            content: '|';
            padding: 0 14px 0 0;
            color: $default-text-color;
        }

        &:hover {
            color: $default-heading-color;
        }
    }
}
/* ==========================================================================
   WooCommerce Pagination styles - end
   ========================================================================== */