/* ==========================================================================
   WooCommerce Result and Ordering styles - begin
   ========================================================================== */
.mkd-woocommerce-page {

    .woocommerce-result-count,
    .woocommerce-ordering {
        display: inline;
        width: 50%;
        margin: 0 0 30px;
        float: left;
    }

    .woocommerce-result-count {
        line-height: 45px;
    }

    .woocommerce-ordering {
        text-align: right;
        margin-top: -20px;
        padding: 18px 0 0 0;
        
        .orderby {
            width: auto;
	        min-width: 250px;
	        margin: 0;
	        text-align: initial;
        }
    }
}
/* ==========================================================================
   WooCommerce Result and Ordering styles - end
   ========================================================================== */