/* ==========================================================================
   WooCommerce Star Rating styles - begin
   ========================================================================== */

.woocommerce {
    
    .star-rating {
        @include mkdWooCommerceRatingsStyle();
    }
}
/* ==========================================================================
   WooCommerce Star Rating styles - end
   ========================================================================== */