/* ==========================================================================
   Centered Title type style - begin
   ========================================================================== */

.mkd-title-holder {
	
	&.mkd-centered-type {
		
		.mkd-title-inner {
			text-align: center;
		}
		
		.mkd-page-title {
			margin: 0;
		}
		
		.mkd-page-subtitle {
			display: block;
			margin: 10px 0 0;
			box-sizing: border-box;
		}
	}
}
/* ==========================================================================
   Centered Title type style - end
   ========================================================================== */