//layout mixins - start

@mixin mkdTableLayout() {
    position: relative;
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

@mixin mkdTableCellLayout() {
    position: relative;
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

@mixin mkdRelativeHolderLayout() {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

@mixin mkdAbsoluteHolderLayout() {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@mixin mkdTypographyLayout() {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
}

//layout mixins - end

//transition mixins - start

@mixin mkdTransition($transition-param...) {
    -webkit-transition: $transition-param;
    -moz-transition: $transition-param;
    transition: $transition-param;
}

@mixin mkdTransitionTransform($transition-param...) {
    -webkit-transition: -webkit-transform $transition-param;
    -moz-transition: -moz-transform $transition-param;
    transition: transform $transition-param;
}

@mixin mkdTransform($transform-param...) {
    -webkit-transform: $transform-param;
    -moz-transform: $transform-param;
    transform: $transform-param;
}

@mixin mkdAnimation($animation-param...) {
    -webkit-animation: $animation-param;
    -moz-animation: $animation-param;
    animation: $animation-param;
}

@mixin mkdTransformOrigin($animation-param...) {
    -webkit-transform-origin: $animation-param;
    -moz-transform-origin: $animation-param;
    transform-origin: $animation-param;
}

//transition mixins - end

//checkbox mixins - start

$checkbox-size: 15px;
$checkbox-border-width: 1px;
%checkbox-style {
    position: relative;
    margin: 8px 0;
    line-height: 1;
    input[type=checkbox] {
        width: $checkbox-size;
        height: $checkbox-size;
        max-height: $checkbox-size;
        position: relative;
        display: inline-block;
        vertical-align: top;
        top: 0;
        left: 0;
        margin: 0;
    }
    input[type=checkbox] + label {
        display: inline-block;
        pointer-events: none;
        cursor: pointer;;
        position: absolute;
        top: 0;
        left: 0;
        line-height: 0;
    }
    input[type=checkbox] + label span.mkd-label-text {
        padding-left: 10px;
        display: inline-block;
        line-height: $checkbox-size;
        color: $default-heading-color;
    }
    input[type=checkbox] + label .mkd-label-view {
        display: inline-block;
        width: $checkbox-size;
        height: $checkbox-size;
        box-sizing: border-box;
        vertical-align: top;
        cursor: pointer;
        border: $checkbox-border-width solid $default-border-color;
        background-color: $default-background-color;
        border-radius: 2px;
        &:hover {
            cursor: pointer;
        }
    }
    input[type=checkbox] + label .mkd-label-view:after {
        content: '';
        width: $checkbox-size / 2 - $checkbox-border-width;
        height: $checkbox-size / 2 - $checkbox-border-width;
        position: absolute;
        top: ($checkbox-size - ($checkbox-size / 2 - $checkbox-border-width)) / 2;
        left: ($checkbox-size - ($checkbox-size / 2 - $checkbox-border-width)) / 2;
        background-color: $first-main-color;
        opacity: 0;
        @include mkdTransition(opacity 0.3s ease-in-out);
    }
    input[type=checkbox]:checked + label .mkd-label-view:after {
        opacity: 1;
    }
}

//checkbox mixins - end

/* common mixins - start */

@mixin mkdBckImageStyle(){
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@mixin mkdImageOverlayHoverStyle($with-hover: true){
    
    @if ($with-hover) {
        
        &:hover {
        
            &:after {
                opacity: 1;
            }
        }
    
        &:after {
            @include mkdAbsoluteHolderLayout();
            content: '';
            background-color: rgba($default-heading-color, .4);
            opacity: 0;
            @include mkdTransition(opacity .2s ease-in-out);
        }
        
    } @else {
        @include mkdAbsoluteHolderLayout();
        content: '';
        background-color: rgba($default-heading-color, .4);
        opacity: 0;
        @include mkdTransition(opacity .2s ease-in-out);
    }
}

@mixin mkdBackgroundStyle(){
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@mixin mkdButtonDefaultStyle() {
    font-family: $second-heading-font;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    outline: none;
    line-height: 2em;
    letter-spacing: 0.15em;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    @include mkdTransition(color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out);
}

@mixin mkdButtonTransparentColor() {
    color: $default-text-color;
    background-color: transparent;
}

@mixin mkdButtonMinimalColor() {
    border: 0;
    border-left: 2px solid $default-grey-color;
    background-size: 201% 100%;
    background-image: linear-gradient(to right, #fff 50%, $default-grey-color 50%), linear-gradient(to right, $default-grey-color 50%, transparent 50%);
    background-repeat: no-repeat;
    background-position: right bottom;
    -webkit-background-clip: text, border-box;
    background-clip: text, border-box;
    color: $default-grey-color;
    @include mkdTransition(all 0.3s);
}

@mixin mkdButtonMinimalHoverColor() {
    background-position: left bottom;
    .mkd-btn-text {
        color: #fff;
    }
    
}

@mixin mkdButtonSolidColor() {
    border: 2px solid  $default-dark-color;
    background-size: 201% 100%;
    background-image: linear-gradient(to right, $default-dark-color 50%, #fff 50%), linear-gradient(to right, transparent 50%, $default-dark-color 50%);
    background-repeat: no-repeat;
    background-position: right bottom;
    -webkit-background-clip: text, border-box;
    background-clip: text, border-box;
    color: transparent;
    @include mkdTransition(background-position 0.3s);
}

@mixin mkdButtonSolidHoverColor() {
    background-position: left bottom;
}

@mixin mkdButtonOutlineColor() {
    border: 2px solid $default-dark-color;
    background-size: 201% 100%;
    background-image: linear-gradient(to right, #fff 50%, $default-dark-color 50%), linear-gradient(to right, $default-dark-color 50%, transparent 50%);
    background-repeat: no-repeat;
    background-position: right bottom;
    -webkit-background-clip: text, border-box;
    background-clip: text, border-box;
    color: transparent;
    @include mkdTransition(background-position 0.3s);
}

@mixin mkdButtonOutlineHoverColor() {
    background-position: left bottom;
}

@mixin mkdButtonSmallParams() {
    padding: 2px 24px 6px 26px;
    font-size: 16px;
}

@mixin mkdButtonMediumParams() {
    padding: 3px 30px 6px 32px;
    font-size: 19px;
}

@mixin mkdButtonLargeParams() {
    padding: 4px 34px 6px 36px;
    font-size: 20px;
}

@mixin mkdButtonHugeParams() {
    display: block;
    text-align: center;
    padding: 4px 34px 6px 36px;
    font-size: 20px;
}

@mixin mkdPlaceholder {
    &::-webkit-input-placeholder {
        @content
    }
    &:-moz-placeholder {
        @content;
        opacity: 1;
    }
    &::-moz-placeholder {
        @content;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        @content
    }
}

/* common mixins - end */

/* mixins styles - start */

%input-style {
    width: 55%;
    margin: 0 0 13px;
    padding: 11px 0px;
    font-family: inherit;
    font-size: 15px;
    line-height: 20px;
    font-weight: inherit;
    color:#898989;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $default-border-color;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
    cursor: pointer;
    box-sizing: border-box;
    resize: none;
    @include mkdTransition(border-color 0.2s ease-in-out);


    @include mkdPlaceholder {
        color: inherit;
    }
}

/* mixins styles - end */

//media query mixins - start

@mixin laptop-landscape-large {
    @media only screen and (max-width: map-get($breakpoints, laptop-landscape-large)) {
        @content;
    }
}

@mixin laptop-landscape-mac {
    @media only screen and (max-width: map-get($breakpoints, laptop-landscape-mac)) {
        @content;
    }
}

@mixin laptop-landscape-medium {
    @media only screen and (max-width: map-get($breakpoints, laptop-landscape-medium)) {
        @content;
    }
}

@mixin laptop-landscape {
    @media only screen and (max-width: map-get($breakpoints, laptop-landscape)) {
        @content;
    }
}

@mixin ipad-landscape {
    @media only screen and (max-width: map-get($breakpoints, ipad-landscape)) {
        @content;
    }
}

@mixin ipad-portrait {
    @media only screen and (max-width: map-get($breakpoints, ipad-portrait)) {
        @content;
    }
}

@mixin phone-landscape {
    @media only screen and (max-width: map-get($breakpoints, phone-landscape)) {
        @content;
    }
}

@mixin phone-portrait {
    @media only screen and (max-width: map-get($breakpoints, phone-portrait)) {
        @content;
    }
}

@mixin smaller-phone-portrait {
    @media only screen and (max-width: map-get($breakpoints, smaller-phone-portrait)) {
        @content;
    }
}

//media query mixins - end

//animation mixin - start

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

@mixin animation($name, $duration, $repeat, $timing, $delay) {
    -webkit-animation-name: $name;
    -webkit-animation-duration: $duration;
    -webkit-animation-iteration-count: $repeat;
    -webkit-animation-timing-function: $timing;
    -webkit-animation-delay: $delay;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: $repeat;
    animation-timing-function: $timing;
    animation-delay: $delay;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

//animation mixin - end