$breakpoints: (
	laptop-landscape-large: 1440px,
	laptop-landscape-medium: 1280px,
	laptop-landscape: 1200px,
	ipad-landscape: 1024px,
	ipad-portrait: 768px,
	phone-landscape: 680px,
	phone-portrait: 480px,
	smaller-phone-portrait: 320px
);

$grid-width: 1100px;
$grid-width-laptop-landscape: 950px;
$grid-width-ipad-landscape: 768px;
$grid-width-ipad-portrait: 600px;
$grid-width-phone-landscape: 420px;
$grid-width-phone-portrait: 300px;
$grid-width-smaller-phone-portrait: 90%;

$grid-width-boxed: 1150px;
$grid-width-laptop-landscape-boxed: 1000px;
$grid-width-ipad-landscape-boxed: 818px;
$grid-width-ipad-portrait-boxed: 650px;
$grid-width-phone-landscape-boxed: 470px;
$grid-width-phone-portrait-boxed: 350px;
$grid-width-smaller-phone-portrait-boxed: 92%;

$grid-width-1300: 1300px;
$grid-width-1200: 1200px;
$grid-width-1000: 1000px;
$grid-width-800: 800px;

$default-text-font: 'Lato', sans-serif;
$first-heading-font: 'Josefin Sans', sans-serif;
$second-heading-font: 'Bellefair', serif;
$default-menu-font: 'CaviarDreams';

$first-main-color: #f2e9e9;
$default-heading-color: #414347;
$default-text-color: #707070;
$default-dark-color: #414347;
$default-grey-color: #898989;

$default-background-color: #fff;
$default-border-color: #c7c7c7;
$default-box-shadow: 0 0 4.85px 0.15px rgba(#000, 0.09);

$header-light-color: #fff;
$header-light-hover-color: rgba($header-light-color, .8);
$header-dark-color: #333;
$header-dark-hover-color: rgba($header-dark-color, .8);

//responsive breakpoints
$laptop-landscape-large-plus-pixel: 1441px;
$laptop-landscape-large: 1440px;
$laptop-landscape-mac-plus-pixel: 1367px;
$laptop-landscape-mac: 1366px;
$laptop-landscape-medium-plus-pixel: 1281px;
$laptop-landscape-medium: 1280px;
$laptop-landscape-plus-pixel: 1201px;
$laptop-landscape: 1200px;
$ipad-landscape-plus-pixel: 1025px;
$ipad-landscape: 1024px;
$ipad-portrait-plus-pixel: 769px;
$ipad-portrait: 768px;
$phone-landscape-plus-pixel: 681px;
$phone-landscape: 680px;
$phone-portrait-plus-pixel: 481px;
$phone-portrait: 480px;
$smaller-phone-portrait-plus-pixel: 321px;
$smaller-phone-portrait: 320px;