/* ==========================================================================
   Blog Masonry general style - begin
   ========================================================================== */

.mkd-blog-holder {
    
    &.mkd-blog-type-masonry {
	
	    .mkd-blog-holder-inner {
		    opacity: 0;
	    }
	
	    article {
		    float: left;
	    }
	
	    article,
	    .mkd-blog-masonry-grid-sizer {
		    width: 100%;
	    }
	
	    .mkd-blog-masonry-grid-gutter {
		    width: 0;
	    }
	
	    /***** Number of Columns - begin *****/
	    
	    $columns_number: ('two', 'three', 'four', 'five');
	
	    @for $i from 0 to length($columns_number) {
		    &.mkd-blog-#{nth($columns_number,$i+1)}-columns {
			    $column_width: 100%/($i+2);
			
			    article,
			    .mkd-blog-masonry-grid-sizer {
				    width: $column_width;
			    }
			    
                article {
                    &.mkd-post-size-large-width,
                    &.mkd-post-size-large-width-height {
                        width: 2*$column_width;
                    }
                }
		    }
	    }
	
	    /***** Number of Columns - end *****/

        /***** Space on container if full width - start *****/

        &.mkd-blog-masonry-full-width {
            box-sizing: border-box;

            $columns_space_label: ('no', 'tiny', 'small', 'normal', 'medium', 'large');
            $columns_space: (0, 5, 10, 15, 20, 25);

            @for $i from 0 to length($columns_space_label) {
                &.mkd-#{nth($columns_space_label,$i+1)}-space {
                    $item_space: nth($columns_space, $i+1);

                    padding: 0 #{2*$item_space}px;
                }
            }
        }

        /***** Space on container if full width - end *****/
    }
}
/* ==========================================================================
   Blog Masonry general style - end
   ========================================================================== */