/* ==========================================================================
   Standard Title type style - begin
   ========================================================================== */

.mkd-title-holder {
	
	&.mkd-standard-type {
		
		.mkd-page-title {
			margin: 0;
		}
		
		.mkd-page-subtitle {
			margin: 10px 0 0;
		}
	}
}
/* ==========================================================================
   Standard Title type style - end
   ========================================================================== */