/* ==========================================================================
   Blog Single style - begin
   ========================================================================== */

.mkd-blog-holder.mkd-blog-single {
	
	article {
		margin: 0 0 10px;
		
		.mkd-post-heading {
			margin-bottom: 45px;
		}
		
		.mkd-post-text {
			padding: 0 0 18px;
		}

		&.format-quote {
			.mkd-post-text {
				padding: 55px 60px 18px 63px;
			} 
		}

		&.format-link {
			.mkd-post-text {
				padding: 57px 65px;
			}
		}
	}
}
/* ==========================================================================
   Blog Single style - end
   ========================================================================== */