/* ==========================================================================
   Custom Font widget style - begin
   ========================================================================== */

.widget {
	
	&.mkd-custom-font-widget {
		margin: 0;
		
		> * {
			margin: 0;
		}
	}
}
/* ==========================================================================
   Custom Font widget style - end
   ========================================================================== */