/* ==========================================================================
   #Search tweak begin
   ========================================================================== */

// WEBKIT
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

// IE
input[type="search"]::-ms-clear {
    display: none;
}

input[type=text]::-ms-clear {
    display: none;
}

/* ==========================================================================
   #Search tweak end
   ========================================================================== */

/* ==========================================================================
   Sidebar area styles - begin
   ========================================================================== */

aside.mkd-sidebar {
    position: relative;
    z-index: 11;
    margin: 0 0 60px;

    .widget {

        &:last-child {
            margin: 0 !important;
        }

        .mkd-widget-title {
            text-transform: uppercase;
            display: inline-block;
            width: 80%;
            border-bottom: 1px solid $default-border-color;
            padding-bottom: 8px;
        }
	}

    .mkd-social-icons-group-widget {
        .mkd-widget-title-holder {
            .mkd-widget-title {
                margin: 0 0 31px;
            }
        }
    }
}

.wpb_widgetised_column {
    position: relative;

    .widget {
	
	    &:last-child {
		    margin: 0 !important;
	    }
    }
}
/* ==========================================================================
   Sidebar area styles - end
   ========================================================================== */

/* ==========================================================================
   Default WordPress Widgets styles - begin
   ========================================================================== */

.widget {
	margin: 0 0 55px;
	
	.mkd-widget-title {
		margin: 0 0 35px;
		
		a {
			color: inherit;
		}
	}
	
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		
		li {
			margin: 0 0 10px;
			
			&:last-child {
				margin: 0;
			}
		}
	}

    /*
    *   Specific styles
    */
    &.widget_text {

        img {
            display: block;
        }
    }

    #wp-calendar {
        width: 100%;
        text-align: center;

        caption {
            color: $default-heading-color;
            margin: 0 0 15px;
        }

        th, td {
            padding: 3px 4px;
        }

        td#today {
            color: #fff;
            background-color: $first_main_color;

            a {
                color: inherit;
            }
        }
    }

    &.widget_rss {

        .mkd-widget-title {

            .rsswidget {

                &:hover {
                    color: $first-main-color;
                }
            }
        }

        .rss-widget-icon {
            display: inline-block;
        }

        ul {

            li {
                margin: 0 0 25px;

                .rss-date {
                    display: block;
                }
            }
        }
    }

    &.widget_search {

        form {
            @include mkdRelativeHolderLayout();
            clear: both;

            > div {
                @include mkdRelativeHolderLayout();
                border:0;
                border-bottom: 1px solid $default-border-color;
                box-sizing: border-box;
                width: 80%;
            }
        }

        input,
        button {
            position: relative;
            display: inline-block;
            vertical-align: top;
            float: left;
            height: 27px;
            font-family: inherit;
            font-weight: 300;
            font-size: 15px;
            line-height: 27px;
            color: $default-text-color;
            background-color: transparent;
            border: 0;
            border-radius: 0;
            outline: 0;
            -webkit-appearance: none;
            box-sizing: border-box;
            @include mkdTransition(color .2s ease-out);
        }

        input {
            width: calc(100% - 40px);
            padding: 0;
	
	        @include mkdPlaceholder {
		        color: inherit;
	        }
        }

        button {
            width: 40px;
            color: $default-text-color;
            cursor: pointer;
            @include mkdTransition(color .2s ease-in-out);

            &:hover {
                color: $first-main-color;
            }

            span {
                display: block;
                line-height: inherit;

                &:before {
                    display: block;
                    line-height: inherit;
                }
            }
        }
    }

    &.widget_pages,
    &.widget_archive,
    &.widget_categories,
    &.widget_meta,
    &.widget_recent_comments,
    &.widget_nav_menu {
        margin-bottom: 48px;
        .mkd-widget-title {
            margin: 0 0 25px;
        }

        ul {

            li {
                margin: 0;
                padding: 4px 0;

                * {
                    font-size: 16px;
                    font-weight: 400;
                }

                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    border: none;
                    padding-bottom: 0;
                }

                ul {
                    margin: 4px 0 0;
                    padding: 0 0 0 10px;

                    li {

                        &:last-child {
                            padding: 4px 0 0;
                        }
                    }
                }
            }
        }
    }


    &.widget_categories li a {
        &:hover {
            color: $default-text-color;
        }
    }

    &.widget_recent_entries {
	
	    .mkd-widget-title {
            margin: 0 0 23px;
        }

        ul {

            li {
                margin: 0 0 12px;

                > span {
                    display: block;
	                font-size: 14px;
                }
            }
        }
    }

    &.widget_archive,
    &.widget_categories,
    &.widget_text {

        select {
            width: 100%;
            max-width: 100%;
            height: 54px;
            padding: 0 18px;
            line-height: 54px;
            color: $default-text-color;
            background-color: transparent;
            border: 1px solid $default-border-color;
            font-family: inherit;
            font-size: inherit;
            font-style: inherit;
            font-weight: inherit;
            outline: none;
            box-sizing: border-box;
        }
    }


    &.posts_holder {

        ul {
            
            li {

                &.page_item_has_children {

                    & > a {
                        display: block;
                    }

                    & > ul.children {
                        padding-left: 10px;
                    }
                }

                &.menu-item-has-children {

                    & > a {
                        display: block;
                    }

                    & > ul.sub-menu {
                        padding-left: 10px;
                    }
                }
            }
        }
    }

    &.widget_tag_cloud {
        margin-bottom: 48px;

        .mkd-widget-title {
            margin-bottom: 25px;
        }

        a {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            color: $default-text-color;
            font-family: inherit;
            font-weight: 300;
            font-size: 15px !important;
            background-color: transparent;

            &:after {
                content: '';
                background-color: $first-main-color;
                display: inline-block;
                height: 16px;
                width: 4px;
                margin: 0 15px;
                vertical-align: middle;
            }

            &:last-child {

                &:after {
                    display: none;
                }
            }

            &:hover {
                color: $first-main-color;
            }
        }
    }
}

.vc_wp_search {

    .widget {

        &.widget_search {

            form {

                > div {
                    background-color: #fff;
                    border: none;
                }
            }

            input {
                width: calc(100% - 66px);
                padding: 0 0 0 33px;
                font-size: 15px;
            }

            button {
                width: 66px;
                padding: 0 39px 0 9px;
            }
        }
    }
}

.mkd-side-menu,
.mkd-page-footer {

    .widget {

        p , a {
            font-size: 14px;
            margin:1px 0;
        }
	
	    &:last-child {
		    margin: 0 !important;
	    }
	
	    a {
		
		    &:hover {
			    color: $default-text-color;
		    }
	    }
	    
        table thead tr,
        table tbody tr {
            border-color: $default-border-color;
        }

        table tbody th {
            border-right-color: $default-border-color;
        }

        /*
        *   Specific styles
        */
	    #wp-calendar {
		
		    caption {
			    color: $default-text-color;
		    }
	    }
	
	    &.widget_rss {
		
		    .mkd-footer-widget-title {
			
			    .rsswidget {
				    color: $default-text-color;
			    }
		    }
	    }
	    
        &.widget_search {

            form {

                > div {
                    border-color: $default-border-color;
                }
            }

            input {
                color: $default-text-color;
	            
	            @include mkdPlaceholder {
		            color: inherit;
	            }

                &[type='submit'] {
                    color: $default-text-color;
                }
            }

            button {

                &:hover {
                    color: $default-text-color;
                }
            }
        }

        &.widget_archive,
        &.widget_categories,
        &.widget_text {

            select {
                color: $default-text-color;
                border-color: $default-border-color;

                option {
                    background-color: $default-border-color;
                }
            }

        }

        &.widget_tag_cloud {

            a {
                color: $default-text-color;

                &:after {
                    color: inherit;
                    background-color: $default-text-color;
                }

                &:hover {
                    color: $default-text-color;
                }
            }
        }
    }
}

.mkd-side-menu {
    .widget {
        margin: 0 0 40px;

         h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }

        .mkd-widget-title {
            margin: 0 0 9px;
        }
    }
}

.mkd-page-footer {
    .widget {
         h1, h2, h3, h4, h5, h6 {
            margin: 0 0 8px;
        }
    }
}

.mkd-top-bar {

	a {
		color: $default-text-color;

		&:hover {
			color: $default-text-color;
		}
	}

    .widget {
        display: inline-block;
        vertical-align: middle;
        margin: 0;

        p {
            margin: 0;
        }

        &.widget_text {
            margin: 0 8px 3px 0;

            .textwidget {
                img {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 3px;
                }
            }
        }

        &.widget_nav_menu {

            ul {
                clear: both;

                li {
                    float: left;
                    padding: 0 8px;
                    margin: 0;
                    line-height: 14px;
                    border-left: 1px solid #fff;
                }
            }
        }
    }
}
/* ==========================================================================
   Default WordPress Widgets styles - end
   ========================================================================== */