/* ==========================================================================
   Icon widget style - begin
   ========================================================================== */

.mkd-icon-widget-holder {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;

    > * {
        position: relative;
        display: inline-block;
        vertical-align: middle;
		color: inherit;
		font-size: inherit;
		line-height: inherit;
		font-style: inherit;
		font-weight: inherit;
		letter-spacing: inherit;
		text-transform: inherit;
    }

	.mkd-icon-text {
		padding: 0 0 0 10px;
		
		&.mkd-no-icon {
			padding: 0;
		}
	}
}

.mkd-dark-header .mkd-page-header > div:not(.mkd-sticky-header):not(.fixed) .mkd-icon-widget-holder {
    color: $header-dark-color !important;

    &:hover {
        color: $header-dark-hover-color !important;
    }
}

.mkd-light-header .mkd-page-header > div:not(.mkd-sticky-header):not(.fixed) .mkd-icon-widget-holder {
    color: $header-light-color !important;

    &:hover {
        color: $header-light-hover-color !important;
    }
}
/* ==========================================================================
   Icon widget style - end
   ========================================================================== */