/* ==========================================================================
   Separator widget style - begin
   ========================================================================== */

.widget {
	
	&.mkd-separator-widget {
		margin: 0 !important;
	}
}
/* ==========================================================================
   Separator widget style - end
   ========================================================================== */