/* ==========================================================================
   Social Icons Group widget style - begin
   ========================================================================== */

.mkd-social-icons-group-widget {

	&.mkd-square-icons {

		.mkd-social-icon-widget-holder {
			position: relative;
			width: 44px;
			height: 44px;
			margin: 0 7px;
			font-size: 17px;
			color: #fff;
			background-color: $default-heading-color;

			&:hover {
				color: $default-heading-color;
				background-color: $first-main-color;
			}

			.mkd-social-icon-widget {
				position: absolute;
				top: 50%;
				left: 50%;
				@include mkdTransform(translateY(-50%) translateX(-50%));
			}
		}

		&.mkd-light-skin {

			.mkd-social-icon-widget-holder {
				color: $default-heading-color;
				background-color: #fff;

				&:hover {
					color: $default-heading-color;
					background-color: $first-main-color;
				}
			}
		}
	}

	.mkd-social-icons-group-widget-holder {
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px 0 0;
		text-align: center;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}
/* ==========================================================================
   Social Icons Group widget style - end
   ========================================================================== */