/* ==========================================================================
   Blog List shortcode - Boxed type style - begin
   ========================================================================== */

.mkd-blog-list-holder {
	
	&.mkd-bl-boxed {
		
		&:not(.mkd-bl-one-column) {
			
			.mkd-bl-item {
				float: left;
			}
		}
		
		$columns_number: ('two', 'three', 'four', 'five');
		
		@for $i from 0 to length($columns_number) {
			&.mkd-bl-#{nth($columns_number,$i+1)}-columns {
				
				.mkd-bl-item {
					width: 100% / ($i+2);
				}
				
				@if ($i > 1) { // set different break point for four and five columns
					@media only screen and (min-width: $laptop-landscape-plus-pixel) {
						
						.mkd-bl-item {
							
							&:nth-child(#{$i+2}n+1) {
								clear: both;
							}
						}
					}
				} @else {
					@media only screen and (min-width: $ipad-landscape-plus-pixel) {
						
						.mkd-bl-item {
							
							&:nth-child(#{$i+2}n+1) {
								clear: both;
							}
						}
					}
				}
			}
		}
		
		.mkd-bli-content {
			padding: 40px 30px;
			background-color: #f6f6f6;
		}
		
		.mkd-post-image {
			margin: 0;
		}
	}
}
/* ==========================================================================
   Blog List shortcode - Boxed type style - end
   ========================================================================== */