/* ==========================================================================
   Blog List shortcode - Simple type style - begin
   ========================================================================== */

.mkd-blog-list-holder {
    
    &.mkd-bl-simple {
        
        .mkd-post-image {
            display: table-cell;
            vertical-align: top;
            width: 84px;
        }
        
        .mkd-bli-content {
            display: table-cell;
            vertical-align: top;
            width: auto;
            padding-left: 25px;
            
            .mkd-post-info-date {
                display: block;
                margin: 7px 0 0;
                line-height: 1;
                
                a {
                    font-size: 13px;
                    color: $default-text-color;
                    
                    &:hover {
                        color: $default-heading-color;
                    }
                }
            }
        }
    }
}
/* ==========================================================================
   Blog List shortcode - Simple type style - end
   ========================================================================== */