/* ==========================================================================
   Centered Title type responsive style - begin
   ========================================================================== */

@include ipad-landscape {
	
	.mkd-title-holder {
		
		&.mkd-centered-type {
			
			.mkd-page-subtitle {
				padding: 0 !important; // it can be set inline with option
			}
		}
	}
}
/* ==========================================================================
   Centered Title type responsive style - end
   ========================================================================== */