/* ==========================================================================
   Product Info shortcode styles - begin
   ========================================================================== */

.mkd-product-info {
    position: relative;
	display: inline-block;
	vertical-align: middle;

	> div {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		
		p {
			margin: 0;
		}

		a {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			margin: 0 9px 0 0;

			&:last-child {
				margin: 0;
			}
		}
	}

	.mkd-pi-title,
	.mkd-pi-image,
	.mkd-pi-rating {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	}
	
	.mkd-pi-image {
		
		img {
			display: block;
		}
	}
	
	.mkd-pi-category {
		
		h1, h2, h3, h4, h5, h6 {
			margin: 0;
			
			a {
				vertical-align: top;
			}
		}
	}
	
	.mkd-pi-rating {
		@include mkdWooCommerceRatingsStyle();
	}
	
	.mkd-pi-add-to-cart {
		
		.mkd-btn.mkd-btn-solid {
			
			&.mkd-white-skin {
				color: $default-heading-color;
				background-color: #fff;
				border-color: #fff;
				
				&:hover {
					color: #fff;
					background-color: $default-heading-color;
					border-color: $default-heading-color;
				}
			}
			
			&.mkd-dark-skin {
				color: #fff;
				background-color: $default-heading-color;
				border-color: $default-heading-color;
				
				&:hover {
					color: $default-heading-color;
					background-color: #fff;
					border-color: #fff;
				}
			}
		}
	}
}
/* ==========================================================================
   Product Info shortcode styles - end
   ========================================================================== */