/* ==========================================================================
   Blog List - Masonry style - begin
   ========================================================================== */

.mkd-blog-holder {
	
    &.mkd-blog-masonry {

        article {
            margin: 0 0 20px;
            padding: 0 0 30px;

            &.mkd-post-has-media {
                
                .mkd-post-heading {
                    margin-bottom: 30px;
                }
            }

            .mkd-post-info-bottom {
              padding-top: 25px;
            }
        }
    }
}
/* ==========================================================================
   Blog List - Masonry style - end
   ========================================================================== */