/* ==========================================================================
   Header logo styles - begin
   ========================================================================== */

.mkd-logo-wrapper {
    display: inline-block;
    vertical-align: middle;

    a {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;

        img {
            height: 100%;
			width: auto;
            @include mkdTransition(opacity 0.2s ease);

            &.mkd-normal-logo{
                opacity: 1;
            }

            &.mkd-dark-logo{
                opacity: 0;
                @include mkdTransform(translateY(-100%));
            }

            &.mkd-light-logo{
                opacity: 0;
                @include mkdTransform(translateY(-200%));
            }
        }
    }
}
/* ==========================================================================
   Header logo styles - end
   ========================================================================== */