/* ==========================================================================
# Search template style - begin
========================================================================== */

.mkd-search-page-holder {
    @include mkdRelativeHolderLayout();
    margin: 0 0 80px;
    
    .mkd-search-page-form {
        @include mkdRelativeHolderLayout();
        margin: 0 0 30px;
        
        .mkd-search-title {
            margin: 0 0 20px;
        }
        
        .mkd-search-label {
            display: block;
            font-size: 13px;
        }
        
        .mkd-form-holder {
            @include mkdRelativeHolderLayout();
            margin: 0 0 10px;
            clear: both;
            border-bottom: 1px solid $default-border-color;
            
            .mkd-column-left {
                display: table-cell;
                vertical-align: top;
            }
            
            .mkd-column-right {
                display: table-cell;
                width: 1%;
                text-align: left;
                vertical-align: top;
            }
            
            .mkd-search-field {
                position: relative;
                width: 100%;
                height: 40px;
                line-height: 40px;
                margin: 0;
                padding: 0 20px 0 3px;
                font-family: inherit;
                font-size: inherit;
                color: inherit;
                background-color: transparent;
                border: none;
                outline: 0;
                vertical-align: middle;
                -webkit-appearance: none;
                box-sizing: border-box;
                
                @include mkdPlaceholder {
                    color: inherit;
                }
            }
            
            .mkd-search-submit {
                position: relative;
                display: inline-block;
                width: auto;
                line-height: 1em;
                padding: 0;
                fill: currentColor;
                color: $default-text-color;
                background-color: transparent;
                border: 0;
                outline: 0;
                cursor: pointer;
                vertical-align: middle;
                @include mkdTransition(color .2s ease-in-out);
                
                &:hover {
                    color: $default-heading-color;
                }
            }
        }
    }
    
    article {
        @include mkdRelativeHolderLayout();
        padding: 30px 0;
        margin: 0;
        border-bottom: 1px solid $default-border-color;
        
        &.sticky {
            
            .mkd-post-title a {
                color: $first-main-color;
            }
        }
        
        &.page {
            
            .mkd-post-title-area .mkd-post-info > div.mkd-post-info-category {
                display: none;
            }
        }
        
        .mkd-post-content {
            @include mkdRelativeHolderLayout();
        }
        
        .mkd-post-image {
            display: block;
            float: left;
            width: 130px;
            
            a, img {
                display: block;
            }
        }
        
        .mkd-post-title-area {
            min-height: 130px;
            padding: 0 0 0 150px;
            
            &.mkd-no-thumbnail{
                padding: 0;
                min-height: inherit;
            }
            
            .mkd-post-title-area-inner {
                width: 100%;
                height: 100%;
                overflow: hidden;
                box-sizing: border-box;
                
                .mkd-post-title {
                    margin: 0;
                }
                
                .mkd-post-excerpt {
                    margin: 7px 0 0;
                }
            }
        }
    }
    
    .mkd-blog-pagination {
        margin: 50px 0 0;
    }
}
/* ==========================================================================
# Search template style - end
========================================================================== */