/* ==========================================================================
# Search opener - begin
========================================================================== */

.mkd-search-opener {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 18px;
    line-height: 1em;

    .mkd-search-opener-wrapper {

        > *, 
        path {
            fill: currentColor;
        }
    
        > * {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            line-height: inherit;
        }
    }
}

.mkd-light-header .mkd-page-header > div:not(.mkd-sticky-header):not(.fixed) .mkd-search-opener,
.mkd-light-header .mkd-top-bar .mkd-search-opener {
    color: $header-light-color !important; //Color can be set inline from widget opener

    &:hover {
        color: $header-light-hover-color !important;
    }
}

.mkd-dark-header .mkd-page-header > div:not(.mkd-sticky-header):not(.fixed) .mkd-search-opener,
.mkd-dark-header .mkd-top-bar .mkd-search-opener {
    color: $header-dark-color !important; //Color can be set inline from widget opener

    &:hover {
        color: $header-dark-hover-color !important;
    }
}
/* ==========================================================================
# Search opener - end
========================================================================== */