/* ==========================================================================
   Mobile header responsive style - begin
   ========================================================================== */

@include ipad-landscape {
	
	.mkd-mobile-header {
		display: block;
	}
}
/* ==========================================================================
   Mobile header responsive style - end
   ========================================================================== */