/* ==========================================================================
   Blog List - Standard style - begin
   ========================================================================== */

.mkd-blog-holder {
	
    &.mkd-blog-standard {
	    
        article {
            margin: 0 0 70px;
            padding: 0;

            &.mkd-post-has-media {
	            
                .mkd-post-heading {
                    margin-bottom: 35px;
                }
            }

            .mkd-post-info-bottom {
              padding-top: 25px;
            }
        }
    }
}
/* ==========================================================================
   Blog List - Standard style - end
   ========================================================================== */