/* ==========================================================================
   Header Centered style - begin
   ========================================================================== */

.mkd-header-centered {
	
    .mkd-page-header {
	    
        .mkd-logo-area {
            height: 110px;
	        overflow: visible;
	        z-index: 2; //to be above menu area in order to cover shadow
	        box-sizing: border-box;
	        
            .mkd-logo-wrapper a {
                max-height: 110px;
            }
        }

        .mkd-menu-area {
	        height: 60px;
	        z-index: 1;

            .mkd-vertical-align-containers {
	            
                .mkd-position-center-inner {
                    height: 100%;
                }
            }
        }

        .mkd-sticky-header {
	        
            .mkd-position-left-inner {
                height: auto;
            }

            .mkd-position-right-inner {
                height: 100%;
            }
        }
    }
}
/* ==========================================================================
   Header Centered style - end
   ========================================================================== */