/* ==========================================================================
   Footer responsive style - begin
   ========================================================================== */

@include ipad-landscape {
	
	.mkd-page-footer {
		
		.mkd-column-content {
			
			@media only screen and (min-width: $phone-landscape-plus-pixel) {
				
				&.mkd-grid-col-3 {
					width: 50%;
					float: left;
					text-align: left;
					margin-bottom: 30px;
					
					&:nth-child(2n+1) {
						clear: both;
					}
					
					&:nth-child(3),
					&:nth-child(4) {
						margin-top: 30px;
					}

					.mkd-footer-column-inner  {
						float: none !important;
					}

					.mkd-social-icons-group-widget.text-align-left {
						text-align: left;
					}
				}
				
				&.mkd-grid-col-4 {
					width: 33.33333333333333%;
					float: left;
				}
			}
		}
	}
}

@include phone-landscape {
	
	.mkd-page-footer {

		.mkd-footer-top-holder {
			.mkd-footer-top-alignment-left {
				text-align: left;
			}

			.mkd-footer-top-inner {
				.mkd-footer-logo-area {
					.mkd-footer-logo-wrapper {
						width: 40%;
					}
				}
			}  
		} 

		.text-align-left {
			text-align: left;
		}
		
		.mkd-column-content {
			
			&.mkd-grid-col-3 {
				 margin-bottom: 30px;
				.mkd-footer-column-inner  {
					float: none !important;
				}
			}
		}
	}
}

/* ==========================================================================
   Footer responsive style - end
   ========================================================================== */