/*==========================================================================
# Fullscreen menu style - begin
========================================================================== */

/* Fullscreen general style - begin
========================================================================== */

.mkd-dark-header .mkd-page-header > div:not(.mkd-sticky-header):not(.fixed) .mkd-fullscreen-menu-opener {
    color: $header-dark-color;
}

.mkd-light-header .mkd-page-header > div:not(.mkd-sticky-header):not(.fixed) .mkd-fullscreen-menu-opener {
    color: $header-light-color;

    &.mkd-fm-opened {
        color: $header-dark-color;
    }
}

.mkd-fullscreen-menu-opener {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    .mkd-paspartu-enabled & {
        right: 3px;
    }
    
    .mkd-fm-lines {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 18px;

        &:hover {

            .mkd-fm-line {
                &.mkd-line-1 {
                    width: 80%;
                }

                &.mkd-line-2 {
                    left: 0;
                }

                &.mkd-line-3 {
                    width: 80%;
                }
            }
        }
        
        .mkd-fm-line {
            position: absolute;
            height: 3px;
            background-color: currentColor;
            @include mkdTransitionTransform(.3s ease, top .2s ease-out, background-color .2s ease-out);
            
            &.mkd-line-1 {
                top: 0;
                left: 0;
                width: 100%;
                outline: transparent solid 1px;
                @include mkdTransition(width .2s ease .2s);
            }
            
            &.mkd-line-2 {
                top: calc(50% - 2px);
                left: 8px;
                width: 12px;
                outline: transparent solid 1px;
                @include mkdTransition(left .2s ease .2s);
            }
            
            &.mkd-line-3 {
                top: calc(100% - 4px);
                left: 0;
                width: 100%;
                outline: transparent solid 1px;
                @include mkdTransition(width .2s ease .2s);
            }
        }
    }

    &.mkd-fm-opened {

        .mkd-fm-lines {

            .mkd-fm-line {

                &.mkd-line-1,
                &.mkd-line-3 {
                    left: 0;
                    @include mkdTransitionTransform(.2s ease);
                }

                &.mkd-line-1 {
                    top: 10px;
                    width: 100%;
                    @include mkdTransform(rotate(-45deg));
                }

                &.mkd-line-3 {
                    top: 10px;
                    width: 100%;
                    @include mkdTransform(rotate(45deg));
                }

                &.mkd-line-2 {
                    opacity: 0;
                }
            }
        }
    }
}

.mkd-fullscreen-menu-opened {
    position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-y: hidden;
	
	&.admin-bar {
		top: 32px;
		height: calc(100% - 32px);
    }

    .mkd-page-header,
    .mkd-top-bar {
        visibility: hidden;
    }

    .mkd-fullscreen-menu-opener,
    .mkd-logo-wrapper {
        visibility: visible;
    }

    .mkd-fullscreen-menu-holder-outer {
        visibility: visible !important;
        opacity: 1 !important;
    }
}

.mkd-fullscreen-menu-holder-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden !important;
    visibility: hidden;
    opacity: 0;
    z-index: 105; /* this has to be between header z-index and content z-index */
}

.mkd-fullscreen-menu-holder {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: table;
    background-repeat: repeat;
    background-position: 0 0;
}

.mkd-fullscreen-menu-holder-inner {
    display: table-cell;
    vertical-align: middle;
    padding: 212px 0 168px;

    @media only screen and (max-width: 1366px) {
        padding: 114px 0 168px;
    }

    @media only screen and (max-width: 1280px) {
        padding: 131px 0 168px;
    }
}

.touch {

    .mkd-fullscreen-menu-holder-outer {
        display: none;
    }

    .mkd-fullscreen-menu-opened .mkd-fullscreen-menu-holder-outer {
        display: block;
    }
}

nav.mkd-fullscreen-menu {
    position: relative;
    top: 0;
    margin: 0 18.6%;
    text-align: left;
    @media only screen and (max-width: 768px) {
            height: 300px;
            overflow: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;

    }
    ul {
        position: relative;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin: 0;
            padding: 0;
            text-align: left;

            a {
                position: relative;
                display: inline-block;
	            vertical-align: middle;
                margin: 9px 0;
	            font-size: 25px;
                font-family: $second-heading-font;
                color: #464646;
	            line-height: 1.3em;
                font-weight: 400;
                letter-spacing: 0.2em;

                &:hover {
                    color:$default-heading-color;

                    .mkd-fullscreen-menu-arrow {
                        @include mkdAnimation(dash .8s ease infinite);
                    }
                }

                span {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                }

                .mkd-fullscreen-menu-arrow {
                    position: relative;
                    bottom: 13px;
                    display: inline-block;
                    width: 20px;
                    height: 3px;
                    background-color: $first-main-color;
                    vertical-align: bottom;
                    margin: 0 0 0 6px;
                    line-height: inherit;
                    @include mkdTransition(width 0.3s ease-out);
                }
            }

            &.open_sub:hover > a .mkd-fullscreen-menu-arrow {
                @include mkdAnimation(none);
            }

            ul {
                @media only screen and (min-width: 768px) {
                    padding: 0;
                    position: absolute;
                    left: calc(100% + 80px);
                    width: 100%;
                    top: 10px;
                }
                &.sub_menu {
                    display: none;
                }

                li {

                    &.current-menu-ancestor > a,
                    &.current-menu-item > a {
                        &:after,
                        &:before {
                            width:100%;
                        }
                    }

                    > a {

                        &:after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 0;
                            border-bottom: 1px solid $default-border-color;
                            @include mkdTransition(width 0.4s ease-out);
                            -webkit-transition-delay: 50ms;
                            transition-delay: 50ms;
                        }

                        &:before {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 0;
                            border-bottom: 1px solid $default-border-color;
                            @include mkdTransition(width 0.4s ease-out);
                            -webkit-transition-delay: 50ms;
                            transition-delay: 50ms;
                        }

                        &:hover {
                            &:after,
                            &:before {
                                width:100%;
                            }
                        }
                    }

                    ul {

                        li {

                            a {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    > ul {
        display: inline-block;

        > li {

            > a {
                font-size: 32px;
                margin: 14px 0;
                letter-spacing: 0.15em;
                font-family: $first-heading-font;
                font-weight: 700;
                text-transform: uppercase;
            }

            &.mkd-active-item > a {
                color: $default-heading-color;
            }

            &.open_sub {
                a {
                    .mkd-fullscreen-menu-arrow {
                        width: 40px;
                    }
                }
            }
        }
    }
}
nav.mkd-fullscreen-menu::-webkit-scrollbar {
    display: none;
}

.mkd-fullscreen-below-menu-widget-holder {
    text-align: left;
    margin: 30px 18.6% 0;
}

.mkd-fullscreen-above-menu-widget-holder {
    text-align: center;
}

@-webkit-keyframes dash {

    0%, 100% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }
}

@-moz-keyframes dash {

    0%, 100% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }
}

@-o-keyframes dash {

    0%, 100% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }
}

@keyframes dash {

    0%, 100% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }
}

/* Fullscreen general style - end
========================================================================== */

/* Fullscreen fade animations general - begin
========================================================================== */

@-webkit-keyframes fade_out {
    0% {
        opacity: 1;
        visibility: visible
    }
    100% {
        opacity: 0;
        visibility: hidden
    }
}

@-moz-keyframes fade_out {
    0% {
        opacity: 1;
        visibility: visible
    }
    100% {
        opacity: 0;
        visibility: hidden
    }
}

@keyframes fade_out {
    0% {
        opacity: 1;
        visibility: visible
    }
    100% {
        opacity: 0;
        visibility: hidden
    }
}

@-webkit-keyframes fade_in {
    0% {
        opacity: 0;
        visibility: hidden
    }
    100% {
        opacity: 1;
        visibility: visible
    }
}

@-moz-keyframes fade_in {
    0% {
        opacity: 0;
        visibility: hidden
    }
    100% {
        opacity: 1;
        visibility: visible
    }
}

@keyframes fade_in {
    0% {
        opacity: 0;
        visibility: hidden
    }
    100% {
        opacity: 1;
        visibility: visible
    }
}

.mkd-fade-push-text-right .mkd-fullscreen-menu-holder-outer,
.mkd-fade-push-text-top .mkd-fullscreen-menu-holder-outer,
.mkd-fade-text-scaledown .mkd-fullscreen-menu-holder-outer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden !important;
    z-index: 105;
    opacity: 0;
}

.mkd-fullscreen-fade-out .mkd-fullscreen-menu-holder-outer {
    -webkit-animation: fade_out .25s linear both;
    -moz-animation: fade_out .25s linear both;
    animation: fade_out .25s linear both;
}

.mkd-fullscreen-menu-opened.mkd-fullscreen-fade-in .mkd-fullscreen-menu-holder-outer {
    -webkit-animation: fade_in .25s linear both;
    -moz-animation: fade_in .25s linear both;
    animation: fade_in .25s linear both;
}

/* Fullscreen fade animations general - end
========================================================================== */

/* Fullscreen animation push text right - begin
========================================================================== */

@-webkit-keyframes push_text_right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-60px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes push_text_right {
    0% {
        opacity: 0;
        -moz-transform: translateX(-60px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@keyframes push_text_right {
    0% {
        opacity: 0;
        transform: translateX(-60px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@-webkit-keyframes push_nav_right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-60px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes push_nav_right {
    0% {
        opacity: 0;
        -moz-transform: translateX(-60px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@keyframes push_nav_right {
    0% {
        opacity: 0;
        transform: translateX(-60px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.mkd-fullscreen-menu-opened.mkd-fade-push-text-right .mkd-fullscreen-menu-holder-outer nav > ul > li > a,
.mkd-fullscreen-menu-opened.mkd-fade-push-text-right .mkd-fullscreen-menu-holder-outer .mkd-fullscreen-below-menu-widget-holder > div,
.mkd-fullscreen-menu-opened.mkd-fade-push-text-right .mkd-fullscreen-menu-holder-outer .mkd-fullscreen-above-menu-widget-holder > div {
    @include mkdAnimation(push_text_right .4s cubic-bezier(0.175, 0.885, 0.32, 1) both);
}

.mkd-fade-push-text-right.mkd-push-nav-right .mkd-fullscreen-menu-holder-outer nav,
.mkd-fade-push-text-right.mkd-push-nav-right .mkd-fullscreen-menu-holder-outer .mkd-fullscreen-below-menu-widget-holder,
.mkd-fade-push-text-right.mkd-push-nav-right .mkd-fullscreen-menu-holder-outer .mkd-fullscreen-above-menu-widget-holder {
    @include mkdTransition(all .75s ease-out);
    @include mkdTransform(translateX(50px));
}

/* Fullscreen animation push text right - end
========================================================================== */

/* Fullscreen animation push text top - begin
========================================================================== */

@-webkit-keyframes push_text_top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(60px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes push_text_top {
    0% {
        opacity: 0;
        -moz-transform: translateY(60px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@keyframes push_text_top {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.mkd-fullscreen-menu-opened.mkd-fade-push-text-top .mkd-fullscreen-menu-holder-outer nav > ul > li > a,
.mkd-fullscreen-menu-opened.mkd-fade-push-text-top .mkd-fullscreen-menu-holder-outer .mkd-fullscreen-below-menu-widget-holder > div,
.mkd-fullscreen-menu-opened.mkd-fade-push-text-top .mkd-fullscreen-menu-holder-outer .mkd-fullscreen-above-menu-widget-holder > div {
    @include mkdAnimation(push_text_top .4s ease-out both .5s);
}

.mkd-fade-push-text-top.mkd-push-text-top .mkd-fullscreen-menu-holder-outer nav,
.mkd-fade-push-text-top.mkd-push-text-top .mkd-fullscreen-menu-holder-outer .mkd-fullscreen-below-menu-widget-holder,
.mkd-fade-push-text-top.mkd-push-text-top .mkd-fullscreen-menu-holder-outer .mkd-fullscreen-above-menu-widget-holder {
    @include mkdTransform(translateY(-30px));
    @include mkdTransition(all .75s ease-out);
}

/* Fullscreen animation push text top - end
========================================================================== */

/* Fullscreen animation fade text scaledown - begin
========================================================================== */

.mkd-fullscreen-menu-opened.mkd-fade-text-scaledown .mkd-fullscreen-menu-holder-outer nav,
.mkd-fullscreen-menu-opened.mkd-fade-text-scaledown .mkd-fullscreen-menu-holder-outer .mkd-fullscreen-below-menu-widget-holder,
.mkd-fullscreen-menu-opened.mkd-fade-text-scaledown .mkd-fullscreen-menu-holder-outer .mkd-fullscreen-above-menu-widget-holder {
    opacity: 1;
    @include mkdTransform(scale(1));
    @include mkdTransition(all .25s linear 0.1s);
}

.mkd-fade-text-scaledown .mkd-fullscreen-menu-holder-outer nav,
.mkd-fade-text-scaledown .mkd-fullscreen-menu-holder-outer .mkd-fullscreen-below-menu-widget-holder,
.mkd-fade-text-scaledown .mkd-fullscreen-menu-holder-outer .mkd-fullscreen-above-menu-widget-holder {
    opacity: 0;
    @include mkdTransform(scale(1.1));
    @include mkdTransition(all .25s linear 0.1s);
}

/* Fullscreen animation fade text scaledown - end
========================================================================== */

/* ==========================================================================
# Fullscreen menu style - end
==========================================================================*/